.h-400{
  min-height: 400px;
  max-height: 400px;
}
.h-550{
  min-height: 550px;
  max-height: 550px;
}
.maxh-400{
  max-height: 400px;
}
.maxh-500{
  max-height: 500px;
}
.minh-400{
  min-height: 400px;
}
.maxw-75{
  max-width: 75%;
}
.msgTime{
  font-size: 6px;
}
.msgContainer{
  border-radius: 25px;
}
.msgContainer.rounded-left{
  border-bottom-left-radius: 0!important;
}
.msgContainer.rounded-right{
  border-bottom-right-radius: 0!important;
}